## Data cleaning

in this section, the dataset will be cleaned and restricted to have only the neceaasry values to predict if a game will be a hit or a flop.

check if there are NAN values in the dataset:

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("vgsales.csv")
df.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

### How to Handle NaN values in this project

Publisher NAN values\
Since there are 16958 data entries, 58 NaN values correspond Â± to the 0.4% of the dataset.
Given this small value, the best soluton is to remove these columns from teh set.

Year NaN values\
The number of entries that is missing is much larger than the number of nan values for the publisher, but still not very large, so, the best solution is to infer those values from the other one in the dataset.
The values can be calculated with the mean or the median, which one to choode depends by the dataset, if it has a small standard deviation, with nit much outliers, probalby the mean will be good. But if thre is a high standard deviation of if there are multiple big outliers, median will be better because less affected.

below we are going to remove the values of publisher.

In [3]:
df_cleaned = df.dropna(subset=["Publisher"])
df_cleaned.isna().sum()

Rank              0
Name              0
Platform          0
Year            249
Genre             0
Publisher         0
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

below we are going to analyse standard deviation and outliers to decide what approach to use for calculating the missing years.

In [4]:
#removing nan values to calculate standard deviation 
arr_of_all_years = df_cleaned["Year"]
arr_of_all_years = arr_of_all_years[np.isnan(arr_of_all_years) == False]
arr_of_all_years.isna().sum()
standard_deviation = np.std(arr_of_all_years)
print(f"Standard deviation = {standard_deviation}")

#use z-score to find outliers 
df_cleaned["z_score"] = (df_cleaned["Year"] - df_cleaned["Year"].mean()) / df_cleaned["Year"].std()
print(f"Number of outliers: {(np.abs(df_cleaned["z_score"]) > 3).sum()}")

Standard deviation = 5.832233209586327
Number of outliers: 188

/var/folders/_8/fl_n57_x0vg8wwdymwn8dz_w0000gn/T/ipykernel_32408/1510884755.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["z_score"] = (df_cleaned["Year"] - df_cleaned["Year"].mean()) / df_cleaned["Year"].std()

As we can see from the results, both standard deviation and ouliers are small, so we can calcualte the missing years with the mean of the present Year value.

In [5]:
df_cleaned.fillna(df_cleaned["Year"].mean(), inplace=True)
df_cleaned.isna().sum()

/var/folders/_8/fl_n57_x0vg8wwdymwn8dz_w0000gn/T/ipykernel_32408/3797838152.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.fillna(df_cleaned["Year"].mean(), inplace=True)

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
z_score         0
dtype: int64

### Removing unnecessary data 

Not all the columns are necessary to train the model to recognize if a game will be a hit or a flop, too much values can cause overfitting.\
Our team decided to keep only some of the columns, more precisely: Platform, Year, Genre, Publisher, Global Sales

In [9]:
#filter for only the desired columns
columns = ['Platform', 'Year', 'Genre', 'Publisher', 'Global_Sales']
df_filtered = df_cleaned[columns].copy()

df_filtered.head(15)

   Platform    Year         Genre Publisher  Global_Sales
0       Wii  2006.0        Sports  Nintendo         82.74
1       NES  1985.0      Platform  Nintendo         40.24
2       Wii  2008.0        Racing  Nintendo         35.82
3       Wii  2009.0        Sports  Nintendo         33.00
4        GB  1996.0  Role-Playing  Nintendo         31.37
5        GB  1989.0        Puzzle  Nintendo         30.26
6        DS  2006.0      Platform  Nintendo         30.01
7       Wii  2006.0          Misc  Nintendo         29.02
8       Wii  2009.0      Platform  Nintendo         28.62
9       NES  1984.0       Shooter  Nintendo         28.31
10       DS  2005.0    Simulation  Nintendo         24.76
11       DS  2005.0        Racing  Nintendo         23.42
12       GB  1999.0  Role-Playing  Nintendo         23.10
13      Wii  2007.0        Sports  Nintendo         22.72
14      Wii  2009.0        Sports  Nintendo         22.00